header{
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 7%;
}
ul{
    list-style: none;
    background-color: rgb(178, 131, 63);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

li{
    padding: 1.5%;
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: 15pt;
}

content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
    color: #50372b;
    width: 93%;
    margin-left: 0;
    align-self: center;
}

content2{
    display: flex;
    flex-direction: column;
    width: 850px;
}

.contentText{
    margin-left: 0%;
    font-size: 17pt;
    margin: 0;
    padding-top: 2%;
}

.footerText{
    width: 80%;
    font-size: 15pt;
    margin: 0;
    padding-top: 10px;
}

h1{
    font-family: Georgia;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0;
}

.ourHistory{
    /*font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;*/
    color: #50372b;
    margin-bottom: 0;
    margin-left: 0%;
    margin-top: 3%;
}

.line{
    width: 93%;
    align-self: center;
}

things{
    width: 93%;
    margin: 0;
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2%;
    color: #50372b;
}

.thingText{
    width: 80%;
    font-size: 17pt;
    align-self: flex-start;
}

thing1,thing2,thing3{
    width: 450px;
}

footer{
    color: #6a6a6a;
    width: 92%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #ffffff;
}

.underMenuBox{
    background: linear-gradient(0deg, rgba(255,255,255,1) 55%, rgb(229, 229, 229) 100%);
    height: 100%;
    width: 81%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menuPlusContent{
    position: absolute;
    z-index: 9;
    top: 23%;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.man{
    height: 290px;
    align-self: center;
    width: 380px;
    margin: 0;
    padding-top: 25px;
}

.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
nav{
    width: 93%;
}
#breaker{
    width: 185px;
}